/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

#container-search {
  text-align: center;
  margin-top: 100px;	
}

#container-results {
  margin-top: 100px;
  margin-bottom: 100px;
}

#dialog-message {
  display: none;
}

.ui-progressbar .ui-progressbar-value { background-image: url(images/pbar-ani.gif); }
