<div id="container-results" class="container">
<% photos.each do |photo| %>
	<% info = flickr.photos.getInfo(:photo_id => photo.id) %>
	<%= image_tag( FlickRaw.url_s(info), :alt => info.title ) %>
<% end %>
</div>