<div id="container-search" class="container">
<h1>What are you looking for?</h1>
<br/>
<%= form_tag '/' do %>
  <%= text_field_tag "keyword" %>
  <br/>
  <%= submit_tag "Find it!", :class => 'btn-primary btn-large', :id => "search-btn" %>
<% end %>
</div>

<div id="dialog-message">
   Please wait while we fetch the results...
</div>